/* ====Global Variables==== */
:root {
    --primary-color: #1f4096;
    --primary-bg-color: var(--primary-color);
    --primary-text-color: #ffffff;

    --secondary-color: #00aeef;
    --secondary-bg-color: var(--secondary-color);
    --secondary-text-color: #000000;

    --neutral-light-color: #F2E8CF;
    --neutral-light-bg-color: var(--neutral-light-color);
    --neutral-light-text-color: #000000;

    --highlight-color: #f5821f;
    --highlight-bg-color: var(--highlight-color);
    --highlight-text-color: #000000;

    --font-family: "Source Sans 3", Helvetica, sans-serif;
    --font-base-weight: 400;
    --font-thin-weight: 300;
    --font-bold-weight: 500;
}

/* ====Color Classes==== */
/* .primary-bg {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}

.primary-bg a {
    color: var(--primary-text-color);
}

.primary-text {
    color: var(--primary-color);
}

.secondary-bg {
    background-color: var(--secondary-bg-color);
    color: var(--secondary-text-color);
}

.secondary-text {
    color: var(--secondary-color);
}

.neutral-light-bg {
    background-color: var(--neutral-light-bg-color);
    color: var(--neutral-light-text-color);
}

.neutral-light-text {
    color: var(--neutral-light-color);
}

.highlight-bg {
    background-color: var(--highlight-bg-color);
    color: var(--highlight-text-color);
}

.highlight-text {
    color: var(--highlight-color);
} */


/* ====Common/Global Styles==== */
* {
    box-sizing: border-box;
}

a {
    text-decoration: underline;
}

button {
    border: 0px solid transparent;
    border-radius: 10px;
    font-size: 1rem;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary-color);
}

body,
button {
    font-family: var(--font-family);
    font-weight: var(--font-base-weight);
    font-style: normal;
}


footer {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    padding: 2rem;
}

footer>div {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 0.5rem;
}

footer>div * {
    color: white;
}

footer>div>div :first-child {
    margin-top: 0;
}

main {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

/* Header/Nav Menu */
header {
    border-bottom: 2px solid #cecece;
}


header nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;

    max-width: 1024px;

    margin-left: auto;
    margin-right: auto;

    padding: 1rem;
}

.open-mobile-menu a:not(.menu-logo) {
    display: block;
}

header nav a:not(.menu-logo) {
    display: none;
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--primary-color);
    font-weight: var(--font-bold-weight);
    padding: 0.3rem;
    border-radius: 10px;
}

header nav a:not(.menu-logo):hover {
    text-decoration: underline;
    background-color: var(--secondary-bg-color);
    color: var(--secondary-text-color);
}

.menu-logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.3rem;
    color: var(--primary-color);
}

#mobile-hamburger-menu {
    display: block;
    align-self: stretch;
    padding: 0.5rem;
    background-color: transparent;
    font-size: 1.4rem;
}

#mobile-hamburger-menu::before {
    content: "☰";
}

.open-mobile-menu #mobile-hamburger-menu::before {
    content: "✖";

}

#join-button {
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--highlight-bg-color);
    color: var(--highlight-text-color);
}





/* ====Utily Classes==== */
.debug {
    border: 1px solid red;
}

.underline {
    text-decoration: underline;
    text-decoration-color: var(--highlight-color);
    text-decoration-thickness: 3px;
}

/* .max-w-md {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
} */

.pad-05 {
    padding: 0.5rem;
}

/*.rounded {
    border-radius: 10px;
} */

/* .simple-responsive-col-flex {
    display: flex;
    flex-direction: column;
}

.simple-responsive-row-flex {
    display: flex;
    flex-direction: column;
} */

/* .margin-0 {
    margin: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin-block-start: 0;
    margin-block-end: 0;
} */

/* ul li {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
} */


/* ====Home==== */
.hero-section {
    display: grid;
    grid-template-columns: 1fr;
}

.hero-section .hero-background-img {
    background-image: url("../images/hero-chillan-cathedral.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    grid-column: 1/2;
    grid-row: 1/2;
}

.hero-section .hero-text {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5rem;
    grid-column: 1/2;
    grid-row: 1/2;
}

.hero-text h1 {
    color: white;
}

.hero-text p {
    font-size: 1.2rem;
}

.top-call-to-action {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    gap: 2rem;
    margin: 4rem 1rem;
}

.highlight-button {
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    font-size: 1.2rem;
    padding: 1rem;
    background-color: var(--highlight-color);
    color: var(--highlight-text-color);
}

.highlight-button:hover {
    text-decoration: underline;
}

.top-call-to-action img {
    align-self: center;
    max-width: 200px;
    width: 100%;
}

.community-and-weather {
    display: flex;
    flex-direction: column;
    margin: 4rem 1rem;
    gap: 2rem;
}

.community {
    flex-basis: 50%;
}

.weather {
    flex-basis: 50%;
}

.weather img {
    max-width: 200px;
    float: left;
    padding-right: 1rem;
    width: 50%;
}

.business-spotlight {
    margin: 4rem 1rem;
}

.business-card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    margin-bottom: 2rem;
}

.business-card-text {
    display: block;
    flex-basis: 50%;
}

.business-card-img {
    display: block;
    flex-basis: 50%;
}

.business-card-img img {
    width: 100%;
    aspect-ratio: 2/1;
}


.bottom-call-to-action {
    margin: 4rem 1rem;
    padding: 2rem;
    border-radius: 10px;
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    text-align: center;
    margin-bottom: 1rem;
}

.bottom-call-to-action h2 {
    color: var(--primary-text-color);
}


.current-events {
    margin: 4rem 1rem;
}

.events-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0.5rem;
}

.events-container .event {
    flex-basis: calc(50% - 1rem);
}

.event .event-info {
    border-left: 5px solid var(--primary-color);
    padding-left: 0.5rem;
}

.event .event-location::before {
    content: "Location: ";
}

.event .event-date::before {
    content: "Date: ";
}