@media screen and (min-width:768px) {

    #mobile-hamburger-menu {
        display: none;
    }

    header nav,
    .menu-logo {
        flex-direction: row;
    }

    header nav {
        gap: 2rem;

    }

    header nav a:not(.menu-logo) {
        display: block;
        padding: 1rem;
    }

    .top-call-to-action {
        flex-direction: row;
    }

    .community-and-weather {
        flex-direction: row;
    }

    .business-card {
        flex-direction: row;
        gap: 2rem;
    }

    .business-card.reverse {
        flex-direction: row-reverse;
    }

    .events-container {
        flex-direction: row;
        gap: 2rem;
        flex-wrap: wrap;
    }

    footer>div {
        flex-direction: row;
        gap: 2rem;
    }

    .discover-container {
        grid-template-columns: 1fr 2fr;
    }

    .discover-container .places-photo-gallery {
        gap: 2rem;
    }

    .discover-container .places-photo-gallery figure {
        transition: box-shadow ease-in-out 200ms;
    }

    .discover-container .places-photo-gallery figure:hover {
        box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.5);
    }
}