@media screen and (min-width:768px) {
    .parent-grid {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    #mobile-ham-menu {
        display: none;
    }

    header,
    nav {
        flex-direction: row;
    }

    nav {
        gap: 2rem;
    }

    nav a {
        display: block;
        padding: 1.3rem;
    }
}